
@import "tailwindcss";
@font-face {
    font-family: "Nico Moji";
    src: url("/Users/shabichasureshkumar/Desktop/Portfolio Site/frontend/src/assets/NicoMoji-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: "Heebo";
    src: url("/Users/shabichasureshkumar/Desktop/Portfolio Site/frontend/src/assets/IstokWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    letter-spacing: 20%;
    
}

.frame {
    @apply flex items-start justify-start gap-[34px] pl-26 pt-52;
}

/* Stack vertically on small screens */
@media (max-width: 768px) {
    .frame {
        @apply flex-col;
    }
    .tabpag {
    @apply flex items-start justify-start;
}

     
}

.image {
    @apply h-[188px] w-[192px];
}

.frame .div {
    @apply items-start flex flex-col gap-6 relative w-[364px];
}

.frame .div-2 {
    @apply items-start self-stretch flex flex-[0_0_auto] flex-col gap-3 justify-end relative w-full;
}

.frame .div-3 {
    @apply items-start inline-flex flex-[0_0_auto] flex-col gap-[6px] relative;
}

.frame .text-wrapper {
    @apply text-[#31302e] text-[29px] font-normal tracking-[0.2em] leading-[normal] relative whitespace-nowrap w-fit -mt-px;
    font-family: "Nico Moji", Helvetica;
}

.frame .text-wrapper-2 {
    @apply text-[#767575] text-[12px] font-normal tracking-[0.5em] leading-[normal] relative w-fit;
    font-family: "Heebo";
    
}

.frame .product-designer {
    @apply text-[#31302e] text-[13px] font-normal tracking-[0.07em] leading-[1.6] max-w-[500px] w-full text-left;
    font-family: "Heebo", sans-serif;
}

.frame .div-4 {
    @apply items-center outline-[#e6e7e9] inline-flex flex-[0_0_auto] gap-[25px] relative px-8 py-3;
    outline: 1px solid #e6e7e9;
}

.frame .div-4:hover {
    outline: 2px solid #31302e;
    /* Changes outline color and thickness on hover */
}

.frame .text-wrapper-3 {
    @apply text-[#31302e] text-[12.5px] font-normal tracking-[0.48px] leading-[normal] relative w-fit -mt-px;
    font-family: "Heebo", sans-serif;
}

.frame .vector {
    @apply h-3.5 relative w-[13px] -mr-px;
}

/* Hero section */

/* Cards section */
.spacer {
    @apply h-screen;
    /* Adjust the height as needed */
}

.cards-section {
    @apply flex justify-start gap-[94px] pl-26 py-16;
}
@media (max-width: 768px) {
    .cards-section {
        @apply flex-col;
    }
}
.tabpag {
    @apply pl-26 pt-25;
    
}

/* !!fix mobile spacing issue */

.tabsframe {
@apply flex flex-col justify-start items-start;

}
.tabpagstyle {
@apply flex items-start justify-start gap-[34px] px-5 py-2 bg-[url('assets/noise.png')] bg-[length:300px_auto] bg-left-top bg-white;
outline: 1px solid #EAECEE;
}

