@font-face {
    font-family: 'Nico Moji';
    src: url('/Users/shabichasureshkumar/Desktop/Portfolio Site/frontend/src/assets/NicoMoji-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('/Users/shabichasureshkumar/Desktop/Portfolio Site/frontend/src/assets/Heebo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.group {
    background-color: #eeeeee;
    border: 1px solid;
    border-color: #e6e8e9;
    height: 604px;
    position: relative;
    width: 456px;
}
.group:hover {
    background-color: #ffffff;
}

.group .image {
    height: 306px;
    left: 62px;
    object-fit: cover;
    position: absolute;
    top: 46px;
    width: 146px;
}

.group .img {
    height: 308px;
    left: 243px;
    object-fit: cover;
    position: absolute;
    top: 144px;
    width: 149px;
}


.group .imageLaptop {
    object-fit: cover;
    position: absolute;
    height: 176px;
    left: 49px;
    top: 65px;
    width: 265px;
}

.group .imgLaptop {
    object-fit: cover;
    position: absolute;
    height: 176px;
    left: 147px;
    top: 269px;
    width: 265px;
}



.full-card-struc{
    display: flex;
        /* Add this line */
        flex-direction: column;
        /* Optional: stack items vertically */
        gap: 26px;
}



 .image {
    height: 499px;
    object-fit: cover;
    position: relative;
    width: 456px;
}

 .textgroup {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 456px;
    padding-top: 504px;
    padding-left: 43px;
}

 .div-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 7px;
    position: relative;
    width: 100%;
}

 .text-wrapper {
    align-self: stretch;
    color: #31302e;
    font-family: "Nico Moji", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.92px;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
}

 .text-wrapper-2 {
    align-self: stretch;
    color: #767575;
    font-family: "Heebo", Helvetica;
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 1.22px;
    line-height: normal;
    position: relative;
}

 .p {
    align-self: stretch;
    color: #31302e;
    font-family: "Heebo", Helvetica;
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 66px;
    position: relative;
}

.project-header {
    display: flex;
    flex-direction: row;
    gap: 7px;
    display: flex;
     
    align-items: center;
}

.project-title {
    font-family: "Istok Web", Helvetica, sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    color: #31302e;
    letter-spacing: 1.92px;
}

.project-subtitle {
    font-family: "Heebo", Helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: 400;
    color: #31302e;
    margin: 0;
    width: 230px;
    
}

.project-tags {
    display: flex;
    gap: 7px;
}

.tag {
    border: 1px solid #31302e;
    padding: 2px 7px;
    font-family: "Heebo", Helvetica, sans-serif;
    font-size: 13.5px;
    color: #31302e;
    letter-spacing: 1.22px;
}