@import "tailwindcss";

@font-face {
  font-family: "Nico Moji";
  src: url("/Users/shabichasureshkumar/Desktop/Portfolio Site/frontend/src/assets/NicoMoji-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("/Users/shabichasureshkumar/Desktop/Portfolio Site/frontend/src/assets/IstokWeb-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
.group {
  @apply bg-[#eeeeee] border h-[604px] relative w-[456px] border-solid border-[#e6e8e9] hover:bg-white;
}
.group .image {
  @apply h-[306px] object-cover absolute w-[146px] left-[62px] top-[46px];
}
.group .img {
  @apply h-[308px] object-cover absolute w-[149px] left-[243px] top-36;
}
.group .imageLaptop {
  @apply object-cover absolute h-44 w-[265px] left-[49px] top-[65px];
}
.group .imgLaptop {
  @apply object-cover absolute h-44 w-[265px] left-[147px] top-[269px];
}
.full-card-struc {
  @apply flex flex-col gap-[26px];

}
.image {
  @apply h-[499px] object-cover relative w-[456px];
}
.textgroup {
  @apply items-start flex flex-[0_0_auto] flex-col gap-3 relative w-[456px] pl-[43px] pt-[504px];
}
.div-2 {
  @apply items-start self-stretch flex flex-[0_0_auto] flex-col gap-[7px] relative w-full;
}
.text-wrapper {
  @apply self-stretch text-[#31302e] text-2xl font-normal tracking-[1.92px] leading-[normal] mt-[-1.00px] relative;
  font-family: "Nico Moji", Helvetica;
}
.text-wrapper-2 {
  @apply self-stretch text-[#767575] text-[13.5px] font-normal tracking-[1.22px] leading-[normal] relative;
  font-family: "Heebo", Helvetica;
}
.p {
  @apply self-stretch text-[#31302e] text-[13.5px] font-normal tracking-[0] leading-[normal] relative;
  font-family: "Heebo", Helvetica;
}
.project-card {
  @apply flex flex-col gap-2.5 w-[400px] h-[66px] relative;
}
.project-header {
  @apply flex flex-row gap-[7px] flex items-center;
}
.project-title {
  @apply italic text-2xl font-normal text-[#31302e] tracking-[1.92px];
  font-family: "Istok Web", Helvetica, sans-serif;
}
.project-subtitle {
  @apply text-[13.5px] font-normal text-[#31302e] w-[230px] m-0;
  font-family: "Heebo", Helvetica, sans-serif;
}
.project-tags {
  @apply flex gap-[7px];
}

.tag {
  @apply border text-[13.5px] text-[#31302e] tracking-[1.22px] px-[7px] py-0.5 border-solid border-[#31302e];
  font-family: "Heebo", Helvetica, sans-serif;
}

.texttitle {
  @apply text-[#31302e] text-[18px] font-thin tracking-[0] leading-[normal] mt-[-1.00px] relative w-fit;
  font-family: "Heebo";
}

.card-image {
  @apply w-[529px] h-[598px] object-cover;
}

@media (max-width: 768px) {
  .card-image {
    @apply w-full h-auto max-w-full;
  }
}




