@import "tailwindcss";

.orah-container {
    @apply flex flex-col items-center gap-[121px] w-full relative mx-auto my-0 pt-[69px] pb-0 px-0;

    /* Centers the container horizontally */
}

/* Header */
.orah-header {
    @apply flex flex-col items-center gap-[11px] justify-center w-[306px];
}

.orah-title {
    @apply text-[27px] font-normal tracking-[2.16px] text-[#31302e] text-center whitespace-nowrap;
    font-family: "Nico Moji", Helvetica;
}

.orah-subtitle {
    @apply text-[15px] font-light text-black text-center;
    font-family: "Heebo-Light", Helvetica;
}

.brig-subtitle {
    @apply text-[15px] font-light text-black text-center w-[150%];
    font-family: "Heebo-Light", Helvetica;

    /* Adjust width to give more space */
}



/* Screenshots Section */
.orah-screens {
    @apply flex flex-wrap gap-x-15 gap-y-8 justify-center items-center w-full items-start min-h-[50vh] relative grow mx-auto my-0;

 
}

.orah-images-wrapper {
    @apply transition-all duration-300;

}

.orah-image {
    @apply w-[40vw] h-auto md:w-[157px] md:h-[327px];
}

.orah-image:nth-child(1) {
    @apply left-0 top-0;
}

.orah-image:nth-child(2) {
    @apply left-[226px] top-[101px];
}

.orah-image:nth-child(3) {
    @apply left-[453px] top-0;
}

.orah-image:nth-child(4) {
    @apply left-[674px] top-[101px];
}
/* Summary Section */
.orah-summary-container {
    @apply flex flex-col md:flex-row items-start justify-start gap-12 md:gap-40 w-full bg-[#f6f6f6] px-6 md:pl-[250px] md:pr-[200px] py-10;
}

.orah-summary {
    @apply w-full max-w-[608px] flex flex-col gap-6;
}

.summary-title {
    @apply text-[#767575] text-[12.5px] font-normal tracking-[0.48px] leading-[normal] w-fit -mt-px;
    font-family: "Heebo", sans-serif;
}

.summary-description {
    @apply text-xl md:text-2xl font-normal text-[#31302e] tracking-[1px];
    font-family: "Nico Moji", Helvetica;
}

.summary-text {
    @apply text-[15px] text-[#19191b] w-full max-w-[580px];
    font-family: "Heebo", sans-serif;
}

.summary-link {
    @apply underline-offset-[3px] text-[#19191b] hover:font-bold hover:italic;
    text-decoration: underline wavy #8ae574;
}

.summary-link:hover {
    text-decoration: underline wavy #8ae574;
}

/* Role, Timeline, Team Section */
.orah-details {
    @apply w-full max-w-[236px] flex flex-col gap-10;
}

.orah-detail {
    @apply flex flex-col gap-2;
}

.detail-title {
    @apply text-[#767575] text-[12.5px] font-normal tracking-[0.48px] leading-[normal] w-fit -mt-px;
    font-family: "Heebo", sans-serif;
}

.detail-text {
    @apply text-[13px] text-[#19191b] w-4/5;
    font-family: "Heebo-Regular", sans-serif;
}

.team-list {
    @apply text-[13px] text-[#19191b] w-full max-w-[236px];
    font-family: "Heebo-Regular", Helvetica;
}